git+https://github.com/huggingface/diffusers.git
gradio
gradio-client
torch
numpy
pillow
requests
transformers
accelerate
safetensors
sentencepiece
dashscope
kernels
torchvision
peft
torchao==0.11.0
spaces